@import url("https://unpkg.com/papercss@1.9.2/dist/paper.css") layer(csspaper);

form:has(input:invalid) {
  border-color: var(--danger);
}

body { 
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: rgb(255, 240, 221);
    display: flex; /* Utilisation de flexbox pour la mise en page */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

/* Split the screen in half */
.split {
    display: flex; /* Utilisation de flexbox pour la mise en page dans .split */
    flex-direction: column; /* Organisation verticale des éléments à l'intérieur de la colonne gauche */
    width: 50%; /* 50% de la largeur de l'écran */
    padding: 20px;
}


.left {
    flex: auto; /* Prendre tout l'espace disponible dans la colonne gauche */
    padding: 20px;
    width:50%;
}

/* Control the right side */
.right {
    width: 50%; /* 50% de la largeur de l'écran */
    padding: 20px;
    background-color: #e5decf; /* Ajouter un fond pour la section droite */
}

/* Control the bottom side */
.bottom {
    padding: 20px;
}

/* If you want the content centered horizontally and vertically */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}


.card {
  background-color: #f5f5f5;

  background-size: 20px 20px;
    background-image: repeating-linear-gradient(0deg, #e5decf, #e5decf 1px, #f6eee3 1px, #f6eee3);
}



/* Taille de la carte */
#map {
    height: 400px;
    width: 100%;
    border: 1px solid #ccc;
}










