<!DOCTYPE html>

<html lang="fr">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet"/>
        <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css">
	<script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>

        <link rel="icon" type="image/x-icon" href="https://i.pinimg.com/236x/c9/13/ff/c913ff50a1cba187d389599685198633.jpg"/>
        <title>Donnees GPS</title>
    </head>

    <body> 

        <div class="split left">
            <h2>Donnees GPS recues</h2>
            <p><strong>Dernieres donnees GPS :</strong></p>
            <p id="gps-message"></p>
            <form class="card">
                <div class="card">
                    <div class="form-group">Longitude
                        <input class="input-block" type="text" value="{{gps_data.longitude or 'null'}}" id="Longitude" >
                    </div>
                    <div class="form-group">Latitude
                        <input class="input-block" type="text" value="{{gps_data.latitude or 'null'}}" id="Latitude">
                    </div>    
                    <div class="form-group">Timestamp
                        <input class="input-block" type="text" value="{{gps_data.timestamp or 'null'}}" id="Timestamp">
                    </div> 
                    <div class="form-group">Altitude
                        <input class="input-block" type="text" value="{{gps_data.altitude or 'null'}}" id="Altitude">
                    </div> 
                    <div class="form-group">Heading
                        <input class="input-block" type="text" value="{{gps_data.heading or 'null'}}" id="Heading">
                    </div> 
                    <div class="form-group">Speed
                        <input class="input-block" type="text" value="{{gps_data.speed or 'null'}}" id="Speed">
                    </div> 
                    <div class="form-group">GNSS_Satellite_Count
                        <input class="input-block" type="text" value="{{gps_data.gnss_satellite_count or 'null'}}" id="GNSS_Satellite_Count">
                    </div> 
                    <div class="form-group">GNSS_Satellites_Used_In_Fix
                        <input class="input-block" type="text" value="{{gps_data.gnss_satellites_used_in_fix or 'null'}}" id="GNSS_Satellites_Used_In_Fix">
                    </div> 
                </div>
            </form>
        </div>




        <div class="split right">
            <div class="bottom">
                <img src="https://i.pinimg.com/736x/c4/1a/70/c41a70a5211c4f317c585c4284823e1d.jpg">
            </div>
            <div id="map"></div>
        </div>

	<script>
	    window.gpsData = {
		latitude: {{ gps_data.latitude if gps_data and gps_data.latitude }},
		longitude: {{ gps_data.longitude if gps_data and gps_data.longitude }}
	    };
	</script>

	<script src="{{ url_for('static', filename='js/app.js') }}"></script>

          
                   
    
    </body>

</html>



